{% extends "layout.html" %}

{% block main %}

    <div class="panel-page-container row h-100">

        <div class="col-6 pt-3 pb-3 ps-3 pe-2">
            <div class="half-panel-container h-100">
                {% block left-panel %}
                {% endblock %}
            </div>
        </div>

        <div class="col-6 pt-3 pb-3 ps-2 pe-3">
            <div class="half-panel-container h-100">
                {% block right-panel %}
                {% endblock %}
            </div>
        </div>

    </div>

{% endblock %}