<div class="panel-page-container row h-100">

  <div class="col-6 pt-3 pb-3 ps-3 pe-2 h-100">
    <div class="half-panel-container h-100">

      <!-- need to put this section elsewhere to reuse the left/right panel frame -->
      <!-- start here -->
      <div class="panel-title-block row">
        <div class="col">
          <p class="fs-2 fw-semibold">Input</p>
        </div>
      </div>
      <!-- end here -->

    </div>
  </div>

  <div class="col-6 pt-3 pb-3 ps-3 pe-2 h-100">
    <div class="half-panel-container h-100">

      <!-- need to put this section elsewhere to reuse the left/right panel frame -->
      <!-- start here -->
      <div class="panel-title-block row">
        <div class="col">
          <p class="fs-2 fw-semibold">Result</p>
        </div>
      </div>
      <!-- end here -->

    </div>
  </div>

</div>