<div class="panel-page-container row h-100">

    <div class="col-6 pt-3 pb-3 ps-3 pe-2 h-100">
      <div class="half-panel-container h-100">
  
        <!-- need to put this section elsewhere to reuse the left/right panel frame -->
        <!-- start here -->
        <div class="panel-title-block row">
          <div class="col">
            <p class="fs-2 fw-semibold">Input</p>
          </div>
        </div>
  
        <div class="panel-content-block-with-title-button-1 row overflow-auto">
          <div class="col">
            <form
              class="row g-3"
              id="inputForm"
              [formGroup]="inputForm"
              (ngSubmit)="onSubmit()">
              <div class="accordion accordion-flush" id="inputs">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button
                      class="accordion-button"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseOne"
                      aria-expanded="true"
                      aria-controls="collapseOne">
                      <span class="fs-5 fw-semibold">Check</span>
                    </button>
                  </h2>
                  <div
                    id="collapseOne"
                    class="accordion-collapse collapse show"
                    aria-labelledby="headingOne"
                    data-bs-parent="inputs"
                    formGroupName="checks">
                    <div class="accordion-body">
                      <div class="row g-3">
                        <div class="col-12">
                          <label for="code_field" class="form-label">Code Version</label>
                          <select
                            class="form-select"
                            id="code_field"
                            formControlName="code">
                            <option [value]="null" disabled>Select code</option>
                            <option
                              *ngFor="let code of codes"
                              [value]="code">{{ code }}</option>
                          </select>
                        </div>
                        <div class="col-12">
                          <div class="form-check">
                            <input
                              class="form-check-input"
                              type="checkbox"
                              id="checkOne"
                              formControlName="tensionCheck"
                              [value]="true">
                            <label class="form-check-label" for="checkOne">Tension</label>
                          </div>
                          <div class="form-check">
                            <input
                              class="form-check-input"
                              type="checkbox"
                              id="checkTwo"
                              formControlName="compressionCheck"
                              [value]="true">
                            <label class="form-check-label" for="checkTwo">Compression</label>
                          </div>
                          <div class="form-check">
                            <input
                              class="form-check-input"
                              type="checkbox"
                              id="checkThree"
                              formControlName="flexureCheck"
                              [value]="true">
                            <label class="form-check-label" for="checkThree">Flexure</label>
                          </div>
                          <div class="form-check">
                            <input
                              class="form-check-input"
                              type="checkbox"
                              id="checkFour"
                              formControlName="shearCheck"
                              [value]="true">
                            <label class="form-check-label" for="checkFour">Shear</label>
                          </div>
                          <div class="form-check">
                            <input
                              class="form-check-input"
                              type="checkbox"
                              id="checkFive"
                              formControlName="torsionCheck"
                              [value]="true">
                            <label class="form-check-label" for="checkFive">Torsion</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
  
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button
                      class="accordion-button"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseTwo"
                      aria-expanded="false"
                      aria-controls="collapseTwo">
                      <span class="fs-5 fw-semibold">Section</span>
                    </button>
                  </h2>
                  <div
                    id="collapseTwo"
                    class="accordion-collapse collapse show"
                    aria-labelledby="headingTwo"
                    data-bs-parent="inputs"
                    formGroupName="section">
                    <div class="accordion-body">
                      <div class="row g-3">
                        <div class="col-12">
                          <label for="section_field" class="form-label">Section Size</label>
                          <select
                            class="form-select"
                            id="section_field"
                            formControlName="sectionSize">
                            <option [value]="null" disabled>Select section</option>
                            <option
                              *ngFor="let steelSection of steelSections"
                              [value]="steelSection.id">{{ steelSection.name }}</option>
                          </select>
                        </div>
                        <div class="col-12">
                          <label for="steel_field" class="form-label">Steel Grade</label>
                          <select
                            class="form-select"
                            id="steel_field"
                            formControlName="steelGrade">
                            <option [value]="null" disabled>Select steel</option>
                            <option
                              *ngFor="let steelGrade of steelGrades"
                              [value]="steelGrade.id">{{ steelGrade.name }}</option>
                          </select>
                        </div>
                        <div class="col-12" *ngIf="length_show">
                          <label for="length_field" class="form-label">Length (ft)</label>
                          <input
                            type="number"
                            class="form-control"
                            name="length"
                            id="length_field"
                            formControlName="length">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
  
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingThree">
                    <button
                      class="accordion-button"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseThree"
                      aria-expanded="true"
                      aria-controls="collapseThree">
                      <span class="fs-5 fw-semibold">Force</span>
                    </button>
                  </h2>
                  <div
                    id="collapseThree"
                    class="accordion-collapse collapse show"
                    aria-labelledby="headingThree"
                    data-bs-parent="inputs"
                    formArrayName="forces">
                    <div class="accordion-body">
                      <div class="row">
                        <div class="col-2">
                          <strong>Case</strong>
                        </div>
                        <div class="col-9">
                          <div class="row">
                            <div class="col-2 px-1 text-center">
                              <strong>P</strong>
                              <br>
                              (k)
                            </div>
                            <div class="col-2 text-center">
                              <strong>Vx</strong>
                              <br>
                              (k)
                            </div>
                            <div class="col-2 text-center">
                              <strong>Vy</strong>
                              <br>
                              (k)
                            </div>
                            <div class="col-2 text-center">
                              <strong>Mxx</strong>
                              <br>
                              (k-ft)
                            </div>
                            <div class="col-2 text-center">
                              <strong>Myy</strong>
                              <br>
                              (k-ft)
                            </div>
                            <div class="col-2 text-center">
                              <strong>T</strong>
                              <br>
                              (k-ft)
                            </div>
                          </div>
                        </div>
                      </div>
  
                      <div
                        class="row mt-1"
                        *ngFor="let forceControl of getForceControls(); let i = index"
                        [formGroupName]="i">
                        <div class="col-2">
                          <select
                            class="form-select"
                            id="case_field"
                            formControlName="case">
                            <option [value]="null" disabled></option>
                            <option
                              *ngFor="let load_case of load_cases"
                              [value]="load_case">{{ load_case }}</option>
                          </select>
                        </div>
                        <div class="col-9">
                          <div class="row">
                            <div class="col-2 px-1">
                              <input
                                type="number"
                                class="form-control"
                                name="P"
                                id="P_field"
                                formControlName="P">
                            </div>
                            <div class="col-2 px-1">
                              <input
                                type="number"
                                class="form-control"
                                name="Vx"
                                id="Vx_field"
                                formControlName="Vx">
                            </div>
                            <div class="col-2 px-1">
                              <input
                                type="number"
                                class="form-control"
                                name="Vy"
                                id="Vy_field"
                                formControlName="Vy">
                            </div>
                            <div class="col-2 px-1">
                              <input
                                type="number"
                                class="form-control"
                                name="Mxx"
                                id="Mxx_field"
                                formControlName="Mxx">
                            </div>
                            <div class="col-2 px-1">
                              <input
                                type="number"
                                class="form-control"
                                name="Myy"
                                id="Myy_field"
                                formControlName="Myy">
                            </div>
                            <div class="col-2 px-1">
                              <input
                                type="number"
                                class="form-control"
                                name="T"
                                id="T_field"
                                formControlName="T">
                            </div>
                          </div>
                        </div>
                        <div class="col-1">
                          <button
                            class="btn btn-dark col-12"
                            type="button"
                            (click)="onRemoveForce(i)"
                            [disabled]="false">
                              <strong>-</strong>
                          </button>
                        </div>
                      </div>
  
                      <div class="row mt-3">
                        <div class="col-12">
                          <button
                            class="btn btn-outline-dark col-12"
                            type="button"
                            (click)="onAddForce()"
                            [disabled]="false">
                            <strong>+</strong>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
  
        <div class="panel-button-block-1 row m-0">
          <div class="col-6">
            <button
              class="btn btn-dark fs-5 col-12 h-100"
              form="inputForm"
              type="submit"
              [disabled]="!inputForm.valid">calculate</button>
          </div>
          <div class="col-6">
            <button
              class="btn btn-dark fs-5 col-12 h-100"
              type="button"
              (click)="onClearForm()">clear</button>
          </div>
        </div>
        <!-- end here -->
  
      </div>
    </div>
  
    <div class="col-6 pt-3 pb-3 ps-3 pe-2 h-100">
      <div
        class="half-panel-container h-100"
        *ngIf="outputMode === 'result'">
  
        <!-- need to put this section elsewhere to reuse the left/right panel frame -->
        <!-- start here -->
        <div class="panel-title-block row">
          <div class="col">
            <p class="fs-2 fw-semibold">Result</p>
          </div>
        </div>
  
        <div class="panel-content-block-with-title-button-1 row overflow-auto">
          <div class="accordion accordion-flush" id="results">
            <div
              class="accordion-item"
              *ngIf="true">
              <h2 class="accordion-header" id="resultsHeadingOne">
                <button
                  class="accordion-button"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#resultsCollapseOne"
                  aria-expanded="true"
                  aria-controls="resultsCollapseOne">
                  <span class="fs-5 fw-semibold">Material and Property</span>
                </button>
              </h2>
              <div
                id="resultsCollapseOne"
                class="accordion-collapse collapse show"
                aria-labelledby="resultsHeadingOne"
                data-bs-parent="results">
                <div class="accordion-body">
                  <div class="row">
                    <div class="col-12">
                      <p class="fs-5">F_y = {{ F_y }} ksi</p>
                      <p class="fs-5">A = {{ A_g }} in2</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <div
              class="accordion-item"
              *ngIf="true">
              <h2 class="accordion-header" id="resultsHeadingTwo">
                <button
                  class="accordion-button"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#resultsCollapseTwo"
                  aria-expanded="true"
                  aria-controls="resultsCollapseTwo">
                  <span class="fs-5 fw-semibold">Force</span>
                </button>
              </h2>
              <div
                id="resultsCollapseTwo"
                class="accordion-collapse collapse show"
                aria-labelledby="resultsHeadingTwo"
                data-bs-parent="results">
                <div class="accordion-body">
                  <div class="row">
                    <div class="col-12">
                      <p class="fs-5">Force: xx k</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <div
              class="accordion-item"
              *ngIf="tensionStrength">
              <h2 class="accordion-header" id="resultsHeadingThree">
                <button
                  class="accordion-button"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#resultsCollapseThree"
                  aria-expanded="true"
                  aria-controls="resultsCollapseThree">
                  <span class="fs-5 fw-semibold">Tension</span>
                </button>
              </h2>
              <div
                id="resultsCollapseThree"
                class="accordion-collapse collapse show"
                aria-labelledby="resultsHeadingThree"
                data-bs-parent="results">
                <div class="accordion-body">
                  <div class="row">
                    <div class="col-12">
                      <p class="fs-5">Tensile Strength: {{ tensionStrength | number:'1.1-1' }} k</p>
                      <p class="fs-5" *ngIf="tensionStrengthAC">Tensile Strength Calc Report from ArupCompute</p>
                      <div *ngIf="tensionStrengthAC" [mathjax]="tensionStrengthAC"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <div
              class="accordion-item"
              *ngIf="compressionStrength">
              <h2 class="accordion-header" id="resultsHeadingFour">
                <button
                  class="accordion-button"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#resultsCollapseFour"
                  aria-expanded="true"
                  aria-controls="resultsCollapseFour">
                  <span class="fs-5 fw-semibold">Compression</span>
                </button>
              </h2>
              <div
                id="resultsCollapseFour"
                class="accordion-collapse collapse show"
                aria-labelledby="resultsHeadingFour"
                data-bs-parent="results">
                <div class="accordion-body">
                  <div class="row">
                    <div class="col-12">
                      <p class="fs-5">Compressive Strength: {{ compressionStrength | number:'1.1-1' }} k</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <div
              class="accord ion-item"
              *ngIf="flexureStrength">
              <h2 class="accordion-header" id="resultsHeadingFive">
                <button
                  class="accordion-button"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#resultsCollapseFive"
                  aria-expanded="true"
                  aria-controls="resultsCollapseFive">
                  <span class="fs-5 fw-semibold">Flexure</span>
                </button>
              </h2>
              <div
                id="resultsCollapseFive"
                class="accordion-collapse collapse show"
                aria-labelledby="resultsHeadingFive"
                data-bs-parent="results">
                <div class="accordion-body">
                  <div class="row">
                    <div class="col-12">
                      <p class="fs-5">Flexural Strength: {{ flexureStrength | number:'1.1-1' }} k-ft</p>
                      <p class="fs-5" *ngIf="flexureStrengthAC">Flexural Strength Calc Report from ArupCompute</p>
                      <div *ngIf="flexureStrengthAC" [mathjax]="flexureStrengthAC"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <div
              class="accordion-item"
              *ngIf="shearStrength">
              <h2 class="accordion-header" id="resultsHeadingSix">
                <button
                  class="accordion-button"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#resultsCollapseSix"
                  aria-expanded="true"
                  aria-controls="resultsCollapseSix">
                  <span class="fs-5 fw-semibold">Shear</span>
                </button>
              </h2>
              <div
                id="resultsCollapseSix"
                class="accordion-collapse collapse show"
                aria-labelledby="resultsHeadingSix"
                data-bs-parent="results">
                <div class="accordion-body">
                  <div class="row">
                    <div class="col-12">
                      <p class="fs-5">Shear Strength: {{ shearStrength | number:'1.1-1' }} k</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <div
              class="accordion-item"
              *ngIf="torsionStrength">
              <h2 class="accordion-header" id="resultsHeadingSeven">
                <button
                  class="accordion-button"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#resultsCollapseSeven"
                  aria-expanded="true"
                  aria-controls="resultsCollapseSeven">
                  <span class="fs-5 fw-semibold">Torsion</span>
                </button>
              </h2>
              <div
                id="resultsCollapseSeven"
                class="accordion-collapse collapse show"
                aria-labelledby="resultsHeadingSeven"
                data-bs-parent="results">
                <div class="accordion-body">
                  <div class="row">
                    <div class="col-12">
                      <p class="fs-5">Torsional Strength: {{ torsionStrength | number:'1.1-1' }} k-ft</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="panel-button-block-1 row m-0">
          <div class="col-12">
            <button
              class="btn btn-dark fs-5 col-12 h-100"
              type="button"
              disabled>print</button>
          </div>
        </div>
        <!-- end here -->
  
      </div>
  
      <div
        class="half-panel-container h-100"
        *ngIf="outputMode === 'instruction'">
  
        <!-- need to put this section elsewhere to reuse the left/right panel frame -->
        <!-- start here -->
        <div class="panel-title-block row">
          <div class="col">
            <p class="fs-2 fw-semibold">Instruction</p>
          </div>
        </div>
  
        <div class="panel-content-block-with-title row overflow-auto">
          <div class="accordion accordion-flush" id="instructions">
            <div
              class="accordion-item">
              <h2 class="accordion-header" id="instructionsHeadingOne">
                <button
                  class="accordion-button"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#instructionsCollapseOne"
                  aria-expanded="true"
                  aria-controls="instructionsCollapseOne">
                  <span class="fs-5 fw-semibold">Instruction</span>
                </button>
              </h2>
              <div
                id="instructionsCollapseOne"
                class="accordion-collapse collapse show"
                aria-labelledby="instructionsHeadingOne"
                data-bs-parent="instructions">
                <div class="accordion-body">
                  <div class="row">
                    <div class="col-12">
                      <p class="fs-5">Some instructions about the input panel...</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end here -->
  
      </div>
    </div>
  
  </div>