/* define variable */
:root {
  /* base layout */
  --header-height: 60px;
  --footer-height: 60px;
  --main-height: calc(100vh - var(--header-height) - var(--footer-height));

  /* home page style */
  --app-block-dark-color: #495057;
  --app-block-light-color: #dae0e5;

  /* panel style */
  --panel-color: #8f8f8f;

  --panel-container-border-style: solid;
  --panel-container-border-width: 10px;
  --panel-container-border-color: var(--panel-color);
  --panel-container-border-radius: 16px;

  --panel-container-padding: 10px;

  --panel-title-height: 66px;

  --panel-title-border-style: solid;
  --panel-title-border-width: 6px;
  --panel-title-border-color: var(--panel-color);

  --panel-title-block-margin: 10px;

  --panel-content-block-margin: 10px;
}



/* for base page layout */
header {
  height: var(--header-height);
}

main {
  height: var(--main-height);
}

footer {
  height: var(--footer-height);
}


/* for home page */
.index-page-container {
  padding: 180px 180px 0px 180px;
}

.app-block-link {
  display: block;

  margin: 50px;

  text-decoration: none;
}

.app-block {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 180px;
  height: 180px;
  border-radius: 6px;

  background-color: var(--app-block-light-color);
  color: var(--app-block-dark-color);

  box-shadow: 1.5px 1.5px 3px rgba(0, 0, 0, 0.2);
}

.app-block:hover {
  background-color: var(--app-block-dark-color);
  color: var(--app-block-light-color);
  transition: 0.3s;
}

.app-block-text {
  display: block;
  line-height: 150%;

  margin-top: 0;
  margin-bottom: 0;

  font-weight: bold;
  font-size: 22px;
  text-align:center;
}


/* for panel page layout */
.panel-page-container {

}


/* for two panel page layout */
.half-panel-container {
  border-style: var(--panel-container-border-style);
  border-width: var(--panel-container-border-width);
  border-color: var(--panel-container-border-color);
  border-radius: var(--panel-container-border-radius);

  padding: var(--panel-container-padding);
}


/* for panel element */
.panel-title-block {
  height: var(--panel-title-height);

  border-bottom: var(--panel-title-border-style);
  border-width: var(--panel-title-border-width);
  border-color: var(--panel-title-border-color);
  
  margin-left: var(--panel-title-block-margin);
  margin-right: var(--panel-title-block-margin);
  margin-bottom: var(--panel-title-block-margin);
}