/* define variable */
:root {
  /* base layout */
  --header-height: 60px;
  --footer-height: 60px;
  --main-height: calc(100vh - var(--header-height) - var(--footer-height));

  /* home page style */
  --app-block-dark-color: #495057;
  --app-block-light-color: #dae0e5;

  /* panel style */
  --panel-color: #8f8f8f;

  --panel-container-border-style: solid;
  --panel-container-border-width: 10px;
  --panel-container-border-color: var(--panel-color);
  --panel-container-border-radius: 16px;

  --panel-container-padding: 10px;

  --panel-title-height: 66px;

  --panel-title-border-style: solid;
  --panel-title-border-width: 6px;
  --panel-title-border-color: var(--panel-color);

  --panel-title-block-margin: 10px;

  --panel-content-block-margin: 10px;

  /* button style */
  --button-block-height: 50px;

  --button-block-radius: 10px;

  --button-block-background-color: var(--panel-color);
  --button-block-text-color: #dae0e5;

  --button-block-margin: 10px;

  /* input box style */
  --input-box-border-color: var(--panel-color);

  /* accordion style */
  --accordion-header-background-color: rgba(143, 143, 143, 0.2);
  --accordion-header-text-color: black;

  /* check style */
  --check-background-color: var(--panel-color);
  --check-border-color: var(--panel-color);

  /* select style */
  --select-border-color: var(--panel-color);
}



/* for base page layout */
header {
  height: var(--header-height);
}

main {
  height: var(--main-height);
}

footer {
  height: var(--footer-height);
}


/* for home page */
.index-page-container {
  padding: 180px 180px 0px 180px;
}

.app-block-link {
  display: block;

  margin: 50px;

  text-decoration: none;
}

.app-block {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 180px;
  height: 180px;
  border-radius: 6px;

  background-color: var(--app-block-light-color);
  color: var(--app-block-dark-color);

  box-shadow: 1.5px 1.5px 3px rgba(0, 0, 0, 0.2);
}

.app-block:hover {
  background-color: var(--app-block-dark-color);
  color: var(--app-block-light-color);
  transition: 0.3s;
}

.app-block-text {
  display: block;
  line-height: 150%;

  margin-top: 0;
  margin-bottom: 0;

  font-weight: bold;
  font-size: 22px;
  text-align:center;
}


/* for single panel page layout */
.single-panel-container {

}


/* for two panel page layout */
.half-panel-container {
  border-style: var(--panel-container-border-style);
  border-width: var(--panel-container-border-width);
  border-color: var(--panel-container-border-color);
  border-radius: var(--panel-container-border-radius);

  padding: var(--panel-container-padding);
}


/* for panel container layout */
.panel-title-block {
  height: var(--panel-title-height);

  border-bottom: var(--panel-title-border-style);
  border-width: var(--panel-title-border-width);
  border-color: var(--panel-title-border-color);
  
  margin-left: var(--panel-title-block-margin);
  margin-right: var(--panel-title-block-margin);
  margin-bottom: var(--panel-title-block-margin);
}

.panel-content-block-full {
  height: 100%;

  margin-left: var(--panel-content-block-margin);
  margin-right: var(--panel-content-block-margin);
}

.panel-content-block-with-title {
  height: calc(100% - var(--panel-title-height) - var(--panel-title-block-margin));

  margin-left: var(--panel-content-block-margin);
  margin-right: var(--panel-content-block-margin);
}

.panel-content-block-with-title-button-1 {
  height: calc(100% - var(--panel-title-height) - var(--panel-title-block-margin)*2 - var(--button-block-height));

  margin-left: var(--panel-content-block-margin);
  margin-right: var(--panel-content-block-margin);
  margin-bottom: var(--panel-content-block-margin);
}

.panel-button-block-1 {
  height: var(--button-block-height);

  margin-left: var(--button-block-margin);
  margin-right: var(--button-block-margin);
}


/* for panel element */
/* style input box */
.form-control {
  border-color: var(--input-box-border-color);
}

.form-control:focus {
  box-shadow: none;
  border-color: var(--input-box-border-color);
}

/* style accordion */
.accordion-button:not(.collapsed) {
  background: var(--accordion-header-background-color);
  color: var(--accordion-header-text-color);
}

.accordion-button:not(.collapsed)::after {
  filter: brightness(0%);
}

.accordion-button:focus {
  box-shadow: none;
}

/* style check */
.form-check-input {
  border-color: var(--check-background-color);
}

.form-check-input:checked {
  background-color: var(--check-background-color);
  border-color: var(--check-border-color);
}

.form-check-input:focus {
  box-shadow: none;
  border-color: var(--check-border-color);
}

/* style select */
.form-select {
  border-color: var(--select-border-color);
}

.form-select:focus {
  box-shadow: none;
  border-color: var(--select-border-color);
}










/* for ArupCompute report */
@media only print {
  body {
      font-size: 10px;
  }
}

.dcContainer {
  display: flex;
  width: 100%;
  align-items: baseline;
}

.equationSpacing {
  margin-top: 5px;
  margin-bottom: 5px;
}

.dcContainer > div {
  box-sizing: border-box;
}

.leftGutter {
  flex: 0 0 0%;
}

.div10 {
  flex: 0 1 10%;
}

.div15 {
  flex: 0 1 15%;
}

.div20 {
  flex: 0 1 20%;
}

.div30 {
  flex: 0 1 30%;
}

.div40 {
  flex: 0 1 40%;
}

.div45 {
  flex: 0 1 45%;
}

.div50 {
  flex: 0 1 50%;
}

.div60 {
  flex: 0 1 60%;
}

.div80 {
  flex: 0 1 80%;
}

.div85 {
  flex: 0 1 85%;
}

.div90 {
  flex: 0 1 90%;
}

.div100 {
  flex: 0 1 100%;
}

.dcRight {
  text-align: right;
}

.dcTop {
  vertical-align: top;
}

.dcSymbol {
  padding-right: 3px;
  padding-left: 3px;
  text-align: right;
}

.dcVerticalSeperation {
  margin-top: 5px;
  margin-bottom: 5px;
}

.dcTable {
  border: solid 1px black;
  border-collapse: collapse;
  padding: 10px;
  text-align: left;
  width:100%;
}

.dcTable td, .dcTable th {
  border: solid 1px black;
  padding: 5px;
}

.LOR_WIP {
  color: red;
}

.LOR_Complete {
  color: orange;
}

.LOR_CompleteWithTests {
  color: green;
}

.errors {
  color: red;
}

.warnings {
  color: darkorange;
}

.remarks {
  color: blue;
}