{% extends "two-panel-layout.html" %}

{% block title %}
    ProjectBase
{% endblock %}

{% block left-panel %}
    <div>
        <h1>Search Bar</h1>
    </div>

    <div class="bar-block-container">
        {% if project_list %}
            {% for project in project_list %}
                <a href="#" style="text-decoration: none">
                    <div class="bar-block">
                        {{ project.job_number }}   {{ project.name|upper }}
                    </div>
                </a>
            {% endfor %}
        {% endif %}
    </div>

    <a href="#" style="text-decoration: none">
        <div class="bottom-button-fullwidth">
            Add Project
        </div>
    </a>
{% endblock %}

{% block right-panel %}
    right
{% endblock %}