{% extends "two-panel-layout.html" %}

{% block title %}
    ProjectBase
{% endblock %}

{% block left-panel %}
    <div>
        <h1>Search Bar</h1>
    </div>

    <div class="bar-block-container">
        {% if project_list %}
            {% for project in project_list %}
                {% comment %} for AJAX {% endcomment %}
                {% comment %} <a href="#"
                    style="text-decoration: none"
                    onclick="projectInfo('{% url 'project:get_project_info' project.id %}, {{ project.id }} ); return false;"
                    id="project_{{ project.id }}"> {% endcomment %}
                <a href="{% url 'project:get_project_info' project.id %}" style="text-decoration: none">
                    <div class="bar-block">
                        {{ project.job_number }}   {{ project.name|upper }}
                    </div>
                </a>
            {% endfor %}
        {% endif %}
    </div>


    {% comment %} for AJAX {% endcomment %}
    {% comment %} <script>
        function projectInfo(url, project_id) {
            function(info)
            $(".temp").append('<p>'+'</p>');
        }
    </script> {% endcomment %}


    <a href="#" style="text-decoration: none">
        <div class="bottom-button-fullwidth">
            Add Project
        </div>
    </a>
{% endblock %}

{% block right-panel %}
    <div>
        {% if project_info %}
            <h1>{{ project_info.display_name }}</h1>
        {% else %}
            <h1>Project Home</h1>
        {% endif %}
    </div>


    <div>
        {% if project_info %}
            <div>
                {{ project_info.job_number }}: {{ project_info.name|upper }}
            </div>

            <div>
                {% if project_scope %}
                    <h3>Scope</h3>
                        <ul>
                            {% for scope in project_scope %}
                                <li>{{ scope.name }} ({{ scope.id }})</li>
                            {% endfor %}
                        </ul>
                {% endif %}
            </div>
        {% else %}
            <p>{{ project_list.count }} projects are stored in the database.</p>
        {% endif %}
    </div>


    <div>
        {% if project_info %}
            <a href="{% url 'project:index' %}" style="text-decoration: none">
                <div class="bottom-button-fullwidth">
                    Project Home
                </div>
            </a>
        {% endif %}
    </div>
{% endblock %}