{% extends "two-panel-layout.html" %}

{% block title %}
    CalcBase
{% endblock %}

{% block left-panel %}

    <div class="panel-title-block row">
        <div class="col">
            <p class="fs-2 fw-semibold">Steel Section Finder</p>
        </div>
    </div>

    <div class="panel-content-block-with-title-button-1 row overflow-auto">
        <div class="col">
            <p class="fs-2 fw-semibold">Content</p>
            <p class="fs-2 fw-semibold">Content</p>
            <p class="fs-2 fw-semibold">Content</p>
            <p class="fs-2 fw-semibold">Content</p>
            <p class="fs-2 fw-semibold">Content</p>
            <p class="fs-2 fw-semibold">Content</p>
            <p class="fs-2 fw-semibold">Content</p>
            <p class="fs-2 fw-semibold">Content</p>
            <p class="fs-2 fw-semibold">Content</p>
            <p class="fs-2 fw-semibold">Content</p>
            <p class="fs-2 fw-semibold">Content</p>
            <p class="fs-2 fw-semibold">Content</p>
            <p class="fs-2 fw-semibold">Content</p>
            <p class="fs-2 fw-semibold">Content</p>
            <p class="fs-2 fw-semibold">Content</p>
            <p class="fs-2 fw-semibold">Content</p>
            <p class="fs-2 fw-semibold">Content</p>
            <p class="fs-2 fw-semibold">Content</p>
            <p class="fs-2 fw-semibold">Content</p>
            <p class="fs-2 fw-semibold">Content</p>
            <p class="fs-2 fw-semibold">Content</p>
        </div>
    </div>

    <div class="panel-button-block-1 row m-0">
        <button class="btn btn-dark fs-5" type="button">Generate</button>
    </div>

{% endblock %}

{% block right-panel %}
    <div class="panel-content-block-full row overflow-auto">
        <div class="col">
            <p class="fs-2 fw-semibold">Content</p>
            <p class="fs-2 fw-semibold">Content</p>
            <p class="fs-2 fw-semibold">Content</p>
            <p class="fs-2 fw-semibold">Content</p>
            <p class="fs-2 fw-semibold">Content</p>
            <p class="fs-2 fw-semibold">Content</p>
            <p class="fs-2 fw-semibold">Content</p>
            <p class="fs-2 fw-semibold">Content</p>
            <p class="fs-2 fw-semibold">Content</p>
            <p class="fs-2 fw-semibold">Content</p>
            <p class="fs-2 fw-semibold">Content</p>
            <p class="fs-2 fw-semibold">Content</p>
            <p class="fs-2 fw-semibold">Content</p>
            <p class="fs-2 fw-semibold">Content</p>
            <p class="fs-2 fw-semibold">Content</p>
            <p class="fs-2 fw-semibold">Content</p>
            <p class="fs-2 fw-semibold">Content</p>
            <p class="fs-2 fw-semibold">Content</p>
            <p class="fs-2 fw-semibold">Content</p>
            <p class="fs-2 fw-semibold">Content</p>
            <p class="fs-2 fw-semibold">Content</p>
        </div>
    </div>
{% endblock %}