{% extends "two-panel-layout.html" %}

{% block title %}
    CalcBase
{% endblock %}

{% block left-panel %}

    <div class="panel-title-block row">
        <div class="col">
            <p class="fs-2 fw-semibold">Steel Section Finder</p>
        </div>
    </div>

    <div class="panel-content-block-with-title-button-1 row overflow-auto">
        <div class="col">
            <form action="{% url 'calc:test' %}" method="POST" class="row g-3">
                {% csrf_token %}
                <div class="col-12">
                    <label for="id_field" class="form-label">ID</label>
                    <input type="text" maxlength="8" class="form-control" name="id" id="id_field" placeholder="00000000" value="{{ id }}">
                </div>
                <div class="col-12">
                    <label for="yield_field" class="form-label">Yield, ksi</label>
                    <input type="number" min="0" class="form-control" name="yield" id="yield_field" placeholder="50" value="{{ F_y }}">
                </div>
                <div class="col-12">
                    <label for="area_field" class="form-label">Area, in2</label>
                    <input type="number" step="0.01" min="0" class="form-control" name="area" id="area_field" placeholder="7.65" value="{{ A }}">
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-dark">test</button>
                </div>
            </form>
        </div>
    </div>

    <div class="panel-button-block-1 row m-0">
        <button class="btn btn-dark fs-5" type="button">Generate</button>
    </div>

{% endblock %}

{% block right-panel %}
    <div class="panel-content-block-full row overflow-auto">
        <div class="col">
            <p class="fs-4">ID: {{ id }}</p>
            <p class="fs-4">Yield, F_y = {{ F_y }} ksi</p>
            <p class="fs-4">Area, A = {{ A }} in2</p>
        </div>
    </div>
{% endblock %}