/* define variable */
:root {
    /* base layout */
    --header-height: 60px;
    --footer-height: 60px;
    --main-height: calc(100vh - var(--header-height) - var(--footer-height));

    /* panel style */
    --panel-color: #8f8f8f;

    --panel-container-border-style: solid;
    --panel-container-border-width: 10px;
    --panel-container-border-color: var(--panel-color);
    --panel-container-border-radius: 16px;

    --panel-container-padding: 10px;

    --panel-title-height: 66px;

    --panel-title-border-style: solid;
    --panel-title-border-width: 6px;
    --panel-title-border-color: var(--panel-color);

    --panel-title-block-margin: 10px;

    --panel-content-block-margin: 10px;

    /* button style */
    --button-block-height: 50px;

    --button-block-radius: 10px;

    --button-block-background-color: var(--panel-color);
    --button-block-text-color: #dae0e5;

    --button-block-margin: 10px;
}


/* for base page layout */
header {
    height: var(--header-height);
}
  
main {
    height: var(--main-height);
}

footer {
    height: var(--footer-height);
}


/* for index page */

.index-page-container {
    padding: 180px 180px 0px 180px;
}

.app-block-link {
    display: block;

    margin: 50px;

    text-decoration: none;
}

.app-block {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 180px;
    height: 180px;
    border-radius: 6px;

    background-color: #dae0e5;
    color: #495057;

    box-shadow: 1.5px 1.5px 3px rgba(0, 0, 0, 0.2);
}

.app-block:hover {
    background-color: #495057;
    color: #dae0e5;
    transition: 0.3s;
}

.app-block-text {
    display: block;
    line-height: 150%;

    margin-top: 0;
    margin-bottom: 0;

    font-weight: bold;
    font-size: 22px;
    text-align:center;
}



/* for panel page */

.panel-page-container {

}

/* for two panel page */

.half-panel-container {
    /* style border */
    border-style: var(--panel-container-border-style);
    border-width: var(--panel-container-border-width);
    border-color: var(--panel-container-border-color);
    border-radius: var(--panel-container-border-radius);

    /* padding */
    padding: var(--panel-container-padding);
}








/* 
.bar-block-container {
    width: 100%;
    height: calc(inherit - 100px);
}


.bar-block {
    display: flex;
    align-items: center;

    margin-bottom: 10px;

    padding-left:20px;
    padding-right:20px;

    width: 100%;
    height: 60px;
    border-radius: 6px;

    background-color: #dae0e5;
    color: #495057;

    font-weight: bold;
    font-size: 18px;
}

.bar-block:hover {
    background-color: #495057;
    color: #dae0e5;
    transition: 0.3s;
}


.bottom-button-fullwidth {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    Left: 0px;
    bottom: 0px;

    margin: 10px;

    width: calc(100% - 20px);
    height: 50px;
    border-radius: 6px;

    background-color: #dae0e5;
    color: #495057;

    font-weight: bold;
    font-size: 22px;
}

.bottom-button-fullwidth:hover {
    background-color: #495057;
    color: #dae0e5;
    transition: 0.3s;
} */


.panel-title-block {
    height: var(--panel-title-height);

    /* style border */
    border-bottom: var(--panel-title-border-style);
    border-width: var(--panel-title-border-width);
    border-color: var(--panel-title-border-color);
    
    /* margin */
    margin-left: var(--panel-title-block-margin);
    margin-right: var(--panel-title-block-margin);
    margin-bottom: var(--panel-title-block-margin);
}


.panel-content-block-full {
    height: 100%;

    /* margin */
    margin-left: var(--panel-content-block-margin);
    margin-right: var(--panel-content-block-margin);
}

.panel-content-block-with-title {
    height: calc(100% - var(--panel-title-height) - var(--panel-title-block-margin));

    /* margin */
    margin-left: var(--panel-content-block-margin);
    margin-right: var(--panel-content-block-margin);
}

.panel-content-block-with-title-button-1 {
    height: calc(100% - var(--panel-title-height) - var(--panel-title-block-margin)*2 - var(--button-block-height));

    /* margin */
    margin-left: var(--panel-content-block-margin);
    margin-right: var(--panel-content-block-margin);
    margin-bottom: var(--panel-content-block-margin);
}


.panel-button-block-1 {
    height: var(--button-block-height);

    /* margin */
    margin-left: var(--button-block-margin);
    margin-right: var(--button-block-margin);
}