<div class="panel-page-container row h-100">

  <div class="col-6 pt-3 pb-3 ps-3 pe-2 h-100">
    <div class="half-panel-container h-100">
      <div class="panel-title-block row">
        <div class="col">
          <p class="fs-2 fw-semibold">Project</p>
        </div>
      </div>
      <div>

      </div>
    </div>
  </div>

  <div class="col-6 pt-3 pb-3 ps-3 pe-2 h-100">
    <div class="half-panel-container h-100">
      <div class="panel-title-block row">
        <div class="col">
          <p class="fs-2 fw-semibold">Detail</p>
        </div>
      </div>
      <div>
        
      </div>
    </div>
  </div>
  
</div>